
	<div class="popup">
			<div class="login px-sm-4 mx-auto mw-100">
				<h5 class="text-center mb-4">Contato</h5>
				<form>
						<div class="form-group">
						  <label>Nome</label>
						  <input type="text" name="nomeRemetente" [(ngModel)]="contato.nomeRemetente" class="form-control" id="validationDefault01" placeholder="" required="">
						</div>
						<div class="form-group">
						  <label>Email</label>
						  <input type="email" name="emailRemetente" [(ngModel)]="contato.emailRemetente" class="form-control" id="validationDefault02" placeholder="" required="">
						</div>
						<div class="form-group">
							<label>Mensagem</label>
							<textarea class="form-control" name="mensagem" [(ngModel)]="contato.mensagem" id="validationDefault02" placeholder="" required=""></textarea>
						</div>
				  
						<button (click)="send()"  class="btn btn-primary submit">Enviar</button>
					  </form>
				</div>
				<a class="close" href="#">&times;</a>
			</div>
		
<!-- //Contact page -->