
	<div class="popup">
			<div class="login px-sm-4 mx-auto mw-100">
				<h5 class="text-center mb-4">Contato</h5>
				<form name="input" method="POST" action="https://formspree.io/contato@codesolidario.com">
						<div class="form-group">
						  <label>Nome</label>
						  <input type="text" name="Name" class="form-control" id="validationDefault01" placeholder="" required="">
						</div>
						<div class="form-group">
						  <label>Email</label>
						  <input type="email" name="_replyto" class="form-control" id="validationDefault02" placeholder="" required="">
						</div>
						<div class="form-group">
							<label>Mensagem</label>
							<textarea class="form-control" name="message" id="validationDefault02" placeholder="" required=""></textarea>
						</div>
				  
						<button type="submit" value="send" class="btn btn-primary submit">Enviar</button>
						<input type="hidden" name="_subject" value="New submission!" />
					  </form>
				</div>
				<a class="close" href="#">&times;</a>
			</div>
		
<!-- //Contact page -->