<!-- popup for login -->
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Login</h5>
			<form>
				<div class="form-group">
					<label class="mb-2">Email</label>
					<input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="login.email" placeholder="" required="">
					<!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
				</div>
				<div class="form-group">
					<label class="mb-2">Senha</label>
					<input type="password" class="form-control" id="exampleInputPassword1" name="senha" [(ngModel)]="login.senha" placeholder="" required="">
				</div>
				<button class="btn btn-primary submit mt-2" (click)="fazerLogin()" >Login</button>
			<!--	<p class="text-center mt-2">
					Não tem uma conta? <a href="#register"> Cadastre-se.</a>
				</p>-->
			</form>
		</div>

		<a class="close" href="#">&times;</a>
		
	</div>
<!-- //popup for login -->