<!-- nav -->
<nav class="d-lg-flex">

    <label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu mt-2 ml-auto">
      <li class=""><a href="index.html">Home</a></li>
      <li class=""><a (click)="notInicio()"  href="#about">Sobre</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li class=""><a href="#team">Equipe</a></li>
      <li class=""><a href="#contato"> Contato </a></li>
      <li class=""><a href="#">Blog</a></li>
    </ul>
    <div class="login-icon ml-lg-2">
      <a *ngIf="!logged" class="user" href="#login"> Login</a>
      <a *ngIf="logged" class="user" href="#logout"> Logout</a>
    </div>
  </nav>
  <div class="clear"></div>
  <!-- //nav -->