<!-- banner -->
<div class="banner" id="home">
<div class="container">
<div  class="row banner-text">
  <div class="slider-info col-lg-6">
    <div class="banner-info-grid mt-lg-5">
      <h2>Como podemos melhorar a nossa sociedade hoje?</h2>
      <p>Compartilhando ideias para novos aplicativos ou contribuindo na construção dos projetos, colabore para que 
          possamos melhorar a nossa sociedade por meio da tecnologia.</p>
    </div>
    <a class="btn mr-2 text-capitalize" href="#ideias">Dê ideias</a>
    <a class="btn text-capitalize" href="https://github.com/codeSolidario" target="_blank">Contribua</a>
  </div>
  <div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
    <img src="assets/images/bannerpng.png" alt="" class="img-fluid"/>
  </div>
</div>
</div>
</div>
<!-- //banner -->