<!--The content below is only a placeholder and can be replaced.-->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a routerLink="/"><img src="assets/images/logo.png"/></a></h1>
			</div>
		<app-menu [logged] = "logged"></app-menu>
	</div>
</header>
<!-- //header -->

<router-outlet></router-outlet>

<footer class="footer-emp-w3ls py-5">
	<div class="container pt-lg-3">
		<div class="row footer-top">
			<div class="col-lg-4 col-sm-6 footer-grid-wthree">
				<h4 class="footer-title text-uppercase mb-4"><img src="assets/images/logo.png" /></h4>
				<div class="contact-info">
						<div class="row btn-social">
									<a href="https://www.facebook.com/codesolidario" target="_blank" class="btn btn-primary btn-custom"><i class="fa fa-facebook-square"></i></a>
								
									<a href="https://github.com/codeSolidario" target="_blank" class="btn btn-primary btn-custom"><i class="fa fa-github"></i></a>
							
									<a href="#" class="btn btn-primary btn-custom"><i class="fa fa-instagram"></i></a>
									<a href="https://www.linkedin.com/company/code-solidário" target="_blank"  class="btn btn-primary btn-custom"><i class="fa fa-linkedin"></i></a>
						</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-sm-0 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Notícias</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Lançamento do site</h4>
						<p>O site do projeto Code Solidário está em construção para entrar em plena atividade....</p>
						<p class="date">20 Jul de 2019.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Legal</h3>
				<ul class="links list-unstyled">
						<li class=""><a href="#politicas">Politica e privacidade</a></li>
						<li class=""><a href="#faq">Perguntas frequentes</a></li>
						<li><a href="#termos-uso">Termos de Uso</a></li>
				</ul>
			</div>
			<div class="col-lg-2 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Mapa do site</h3>
				<ul class="links list-unstyled">
						<li class=""><a href="#">Home</a></li>
						<li class=""><a href="#about">Sobre</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li class=""><a href="#team">Equipe</a></li>
						<li class=""><a href="#contato"> Contato </a></li>
						<li class=""><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2019 Code Solidário. Todos os direitos reservados | Design by
		<a href="https://w3layouts.com/" > W3layouts </a>
	</p>
</div>
<!-- //copyright -->	
<!-- move top -->
<div class="move-top text-right">
		<a href="#home" class="move-top"> 
			<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
		</a>
	</div>
	<!-- move top -->

<!-- popup -->
<div id="politicas" class="popup-effect">
	<app-politicas></app-politicas>
</div>
<!-- //popup -->

<!-- popup -->
<div id="termos-uso" class="popup-effect">
	<app-termos-uso></app-termos-uso>
</div>
<!-- popup -->
<div id="faq" class="popup-effect">
	<app-faq></app-faq>
</div>


<!-- popup for login -->
<div id="login" class="popup-effect">
	<app-login-form></app-login-form>
</div>
<!-- //popup for login -->

<!-- popup for register -->
<div id="register" class="popup-effect">
	<app-register-form></app-register-form>
</div>
<!-- //popup for register -->
<!-- popup for contato -->
<div id="contato" class="popup-effect">
		<app-contato></app-contato>
</div>
	<!-- //popup for contato -->
<!-- popup for ideias -->
<div id="ideias" class="popup-effect">
		<app-ideias-form></app-ideias-form>
</div>
	<!-- //popup for ideias -->
<script type="">
	$(document).ready(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > 100) {
            $('.move-top').fadeIn();
        } else {
            $('.move-top').fadeOut();
        }
    });

    $('.move-top').click(function(){
        $('html, body').animate({scrollTop : 0},800);
        return false;
    });
});
</script>
