<div class="container py-lg-5">
		<h2 class="heading mb-sm-5 mb-4">Nosso Time</h2>
		<div class="section_header">
			<div class="row">
				<div class="col-md-3 col-sm-6 mb-5">
					<div class="teamy_preview">
						<img src="assets/images/team1.jpg" class="teamy_avatar" alt="The demo photo">
					</div>
					<div class="teamy_content mt-3">
						<h3 class="teamy_name">Daniele Reis</h3>
						<span class="teamy_post">Dev/Fundadora</span>
					</div>
					<div class="teamy_back">
						<div class="teamy_back-inner">
							<a href="#0" class="social"> 
								<span class="fa fa-facebook"></span>
							</a>
							<a href="#0" class="social">
								<span class="fa fa-twitter"></span>
							</a>
							<a href="#0" class="social">
								<span class="fa fa-envelope-open"></span>
							</a>
						</div>
					</div>
				</div>
				
				
				
				
			</div>
		</div>
    </div>