<div class="container py-lg-5">
		<h2 class="heading mb-sm-5 mb-4">Nosso Time</h2>
		<div class="section_header">
			<div class="row">
				<div class="col-md-3 col-sm-6 mb-5">
					<div class="teamy_preview">
						<img src="assets/images/team1.jpg" class="teamy_avatar" alt="The demo photo">
					</div>
					<div class="teamy_content mt-3">
						<h3 class="teamy_name">Daniele Reis</h3>
						<span class="teamy_post">Dev/Fundadora</span>
					</div>
					<div class="teamy_back">
						<div class="teamy_back-inner">
							<a href="https://www.facebook.com/dannyreisoficial" target="_blank" class="social"> 
								<span class="fa fa-facebook-square"></span>
							</a>
							<a href="https://www.linkedin.com/in/reisdaniele/" target="_blank" class="social">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="https://github.com/droliv" target="_blank" class="social">
								<span class="fa fa-github-alt"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mb-5">
					<div class="teamy_preview">
						<img src="assets/images/team2.jpg" class="teamy_avatar" alt="The demo photo">
					</div>
					<div class="teamy_content mt-3">
						<h3 class="teamy_name">Enilton Rastele</h3>
						<span class="teamy_post">Dev/Co-Fundador</span>
					</div>
					<div class="teamy_back">
						<div class="teamy_back-inner">
							<a href="https://www.facebook.com/JuninhoRastele" target="_blank" class="social"> 
								<span class="fa fa-facebook-square"></span>
							</a>
							<a href="https://www.linkedin.com/in/enilton/" target="_blank" class="social">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="https://github.com/enilton" target="_blank" class="social">
								<span class="fa fa-github-alt"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mb-5">
					<div class="teamy_preview">
						<img src="assets/images/team3.jpg" class="teamy_avatar" alt="The demo photo">
					</div>
					<div class="teamy_content mt-3">
						<h3 class="teamy_name">João Marcos</h3>
						<span class="teamy_post">Dev</span>
					</div>
					<div class="teamy_back">
						<div class="teamy_back-inner">
							<a href="#" class="social"> 
								<span class="fa fa-facebook-square"></span>
							</a>
							<a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-s-carvalho-369a81180/" target="_blank" class="social">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="https://github.com/JoaoMarcosSiCar" target="_blank" class="social">
								<span class="fa fa-github-alt"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mb-5">
					<div class="teamy_preview">
						<img src="assets/images/team4.jpg" class="teamy_avatar" alt="The demo photo">
					</div>
					<div class="teamy_content mt-3">
						<h3 class="teamy_name">Eliseu Pires</h3>
						<span class="teamy_post">Dev</span>
					</div>
					<div class="teamy_back">
						<div class="teamy_back-inner">
							<a href="https://www.facebook.com/eliseu.pires.58" target="_blank" class="social"> 
								<span class="fa fa-facebook-square"></span>
							</a>
							<a href="https://www.linkedin.com/in/eliseu-pires/" target="_blank" class="social">
								<span class="fa fa-linkedin"></span>
							</a>
							<a href="https://github.com/eliseupires" target="_blank" class="social">
								<span class="fa fa-github-alt"></span>
							</a>
						</div>
					</div>
				</div>
				
				
				
				
			</div>
		</div>
    </div>