<app-banner></app-banner>
<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<div class="row">
			<div class="col-lg-3 about-left">	
				<h3 class="heading mb-lg-5 mb-4">Sobre Nós</h3>
			</div>
			<div class="col-lg-5 col-md-7 about-text">
				<h3>O que é o Code Solidário? </h3>
				<p class="mt-3">Ajudar a fazer uma sociedade melhor usando a tecnologia, este é o foco e a missão do nosso projeto, desenvolver soluções em tecnologia para melhorar a vida das pessoas e resolver problemas sociais. Como você pode contribuir para isso? Vem com a gente para fazer uma sociedade melhor!</p>
				
			</div> 
			<div class="col-lg-4 col-md-5 about-img">
				<img src="assets/images/1.png" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //about -->
<!-- portfolio -->
<section class="portfolio py-5" id="portfolio">
	<app-portfolio></app-portfolio>
</section>
<section class="section pt-5" id="team">
	<app-equipe></app-equipe>
</section>